@use "@/assets/scss/abstracts" as *;

.button-link {
  --color: #{$color_link};
  --hover-color: #{$hover_color_link};
  --pressed-color: #{$pressed_color_link};
  @extend %button-reset;
  color: var(--color);
  border: none;
  border-radius: 0;

  @include hover {
    color: var(--hover-color);
  }

  &:active {
    color: var(--pressed-color);
  }
}
