:root {
  --bg-primary: #1677ff;
  --bg-default: #d9d9d9;
  --bg-white: #fff;
  --color-text: #000;
  --color-white: #fff;
  --color-link: #1677ff;
  --br-default: #d9d9d9;

  --hover-bg-primary: #4096ff;
  --hover-bg-default: #0000000f;
  --hover-color-link: #4096ff;
  --hover-br-default: #0000000f;

  --focused-bg-primary: #4096ff;
  --focused-bg-default: #0000000f;
  --focused-color-link: #4096ff;
  --focused-br-default: #0000000f;

  --pressed-bg-primary: #0958d9;
  --pressed-bg-default: #00000026;
  --pressed-color-link: #0958d9;
  --pressed-br-default: #00000026;

  --disabled-bg-primary: #ddd;
  --disabled-bg-default: #ddd;
  --disabled-bg-white: #ddd;
  --disabled-color-text: #818181;
  --disabled-color-white: #818181;
  --disabled-color-link: #818181;
  --disabled-br-default: #ddd;

  --br-button-small: 0.25rem;

  --font-family-button: monospace;

  --font-size-button: 1rem;

  --font-weight-button: 300;
}

html {
  font-size: 16px;
}
