:root {
  --bg-primary: #1677ff;
  --bg-default: #d9d9d9;
  --bg-white: #fff;
  --color-text: #000;
  --color-white: #fff;
  --color-link: #1677ff;
  --br-default: #d9d9d9;

  --bg-primary-hover: #4096ff;
  --bg-default-hover: #0000000f;
  --color-link-hover: #4096ff;
  --br-default-hover: #0000000f;

  --bg-primary-focused: #4096ff;
  --bg-default-focused: #0000000f;
  --color-link-focused: #4096ff;
  --br-default-focused: #0000000f;

  --bg-primary-pressed: #0958d9;
  --bg-default-pressed: #00000026;
  --color-link-pressed: #0958d9;
  --br-default-pressed: #00000026;

  --bg-primary-disabled: #0000000a;
  --bg-default-disabled: #0000000a;
  --bg-white-disabled: #0000000a;
  --color-text-disabled: #00000040;
  --color-white-disabled: #00000040;
  --color-link-disabled: #00000040;
  --br-default-disabled: #d9d9d9;

  --br-button-small: 0.25rem;
}

html {
  font-size: 16px;
}
