$bg_primary: var(--bg-primary, #1677ff);
$bg_default: var(--bg-default, #d9d9d9);
$bg_white: var(--bg-white, #fff);
$color_text: var(--color-text, #000);
$color_white: var(--color-white, #fff);
$color_link: var(--color-link, #1677ff);
$br_default: var(--br-default, #d9d9d9);

$hover_bg_primary: var(--hover-bg-primary, #4096ff);
$hover_bg_default: var(--hover-bg-default, #0000000f);
$hover_color_link: var(--hover-color-link, #4096ff);
$hover_br_default: var(--hover-br-default, #0000000f);

$focused_bg_primary: var(--focused-bg-primary, #4096ff);
$focused_bg_default: var(--focused-bg-default, #0000000f);
$focused_color_link: var(--focused-color-link, #4096ff);
$focused_br_default: var(--focused-br-default, #0000000f);

$pressed_bg_primary: var(--pressed-bg-primary, #0958d9);
$pressed_bg_default: var(--pressed-bg-default, #00000026);
$pressed_color_link: var(--pressed-color-link, #0958d9);
$pressed_br_default: var(--pressed-br-default, #00000026);

$disabled_bg_primary: var(--disabled-bg-primary, #ddd);
$disabled_bg_default: var(--disabled-bg-default, #ddd);
$disabled_bg_white: var(--disabled-bg-white, #ddd);
$disabled_color_text: var(--disabled-color-text, #818181);
$disabled_color_white: var(--disabled-color-white, #818181);
$disabled_color_link: var(--disabled-color-link, #818181);
$disabled_br_default: var(--disabled-br-default, #ddd);

$button_br_small: var(--button-br-small);
$button_font_family: var(--button-font-family);
$button_font_size: var(--button-font-size);
$button_font_weight: var(--button-font-weight);
$button_color_close: var(--button-color-close);
$button_hover_color_close: var(--button-hover-color-close);
