%svg-current {
  path,
  rect,
  circle {
    &[fill] {
      fill: currentColor;
      transition: 0.2s fill;
    }
    &[stroke] {
      stroke: currentColor;
      transition: 0.2s stroke;
    }
  }
}

%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
