@use "@/assets/scss/abstracts" as *;

.input {
  &-text,
  &-email,
  &-password,
  &-search,
  &-tel,
  &-url {
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
  }
}
