.input {
  &[type="button"] {
    @extend %button-default;
  }
  &[type="reset"] {
    @extend %button-default;
  }
  &[type="submit"] {
    @extend %button-default;
  }

  &[type="checkbox"] {
  }
  &[type="radio"] {
  }

  &[type="color"] {
  }
  &[type="date"] {
  }
  &[type="datetime-local"] {
  }
  &[type="email"] {
  }
  &[type="file"] {
  }
  &[type="hidden"] {
  }
  &[type="image"] {
  }
  &[type="month"] {
  }
  &[type="number"] {
  }
  &[type="password"] {
  }
  &[type="range"] {
  }
  &[type="search"] {
  }
  &[type="tel"] {
  }
  &[type="text"] {
  }
  &[type="time"] {
  }
  &[type="url"] {
  }
  &[type="week"] {
  }
}
