@mixin margin-bottom($n: 1rem) {
  &:not(:last-child) {
    margin-block-end: $n;
  }
}

@mixin margin-top($n: 1rem) {
  &:not(:first-child) {
    margin-block-start: $n;
  }
}

@mixin margin-block($f: 1rem, $l: $f) {
  @include margin-top($f);
  @include margin-bottom($l);
}
