@mixin ava($w: 1.5rem, $h: null) {
  $h: if($h == null, $w, $h);

  --ava: #{$w};
  max-width: var(--ava);
  min-width: var(--ava);
  width: var(--ava);

  height: if($h == $w, var(--ava), $h);
  max-height: var(--ava);
}

@mixin ava-round($ava: 1.5rem) {
  @include ava($ava);
  border-radius: var(--ava);
}
