.button-close {
  @extend %button-reset;
  @include ava(1.875rem);
  font-size: 0;
  position: relative;
  border-radius: 0.25rem;
  color: $button_color_close;

  @include hover {
    color: $button_hover_color_close;
  }

  &:before {
    content: "";
    height: 100dvh;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 100vw;
    z-index: -1;
  }

  path {
    stroke: currentColor;
    stroke-width: 0.125rem;
  }
}
